target/
/target

classes/
/classes

.classpath

.class

.settings/
/.settings
test/Test*.java
/test
data/
/data
.db
log/
/log
.log
config.properties
generatorConfig.properties
generatorConfig.xml

