<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.quote.model.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="merger_name" jdbcType="VARCHAR" property="mergerName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, level, name, merger_name, short_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAddressByInspectionID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List" />
      from Address where id = (select address_id
      from SysInspectionContent where id =
      (select source_id from inspectionContent
      where id = #{InspectionID,jdbcType=INTEGER}))
  </select>
  <select id="selectAllProvince" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Address
    where level = 1
  </select>
  <select id="selectAllCityOrCountyByParent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Address
    where pid = #{id,jdbcType=INTEGER}
  </select>
</mapper>