<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.IndustryMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.quote.model.Industry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="industry_name" jdbcType="VARCHAR" property="industryName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, industry_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Industry
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectIndustryByInspectionID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List" />
      from Industry where id = (select industry_id 
      from SysInspectionContent where id = 
      (select source_id from inspectionContent 
      where id = #{InspectionID,jdbcType=INTEGER}))
  </select>
  <select id="selectAllIndustry" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Industry
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Industry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.quote.model.Industry">
    insert into Industry (id, industry_name)
    values (#{id,jdbcType=INTEGER}, #{industryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.quote.model.Industry">
    insert into Industry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="industryName != null">
        industry_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="industryName != null">
        #{industryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.quote.model.Industry">
    update Industry
    <set>
      <if test="industryName != null">
        industry_name = #{industryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.quote.model.Industry">
    update Industry
    set industry_name = #{industryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>