<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.InspectionBatchMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.quote.model.InspectionBatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inspection_batch_name" jdbcType="VARCHAR" property="inspectionBatchName" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="inspection_batch_amount" jdbcType="FLOAT" property="inspectionBatchAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, inspection_batch_name, project_id, inspection_batch_amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from InspectionBatch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectNumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from InspectionBatch
    where project_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectInspectionBatchByMaxId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from InspectionBatch 
    where id = (select max(id) from InspectionBatch)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from InspectionBatch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.quote.model.InspectionBatch">
    insert into InspectionBatch (id, inspection_batch_name, project_id,
      inspection_batch_amount)
    values (#{id,jdbcType=INTEGER}, #{inspectionBatchName,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER},
      #{inspectionBatchAmount,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.quote.model.InspectionBatch">
    insert into InspectionBatch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inspectionBatchName != null">
        inspection_batch_name,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="inspectionBatchAmount != null">
        inspection_batch_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inspectionBatchName != null">
        #{inspectionBatchName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="inspectionBatchAmount != null">
        #{inspectionBatchAmount,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.quote.model.InspectionBatch">
    update InspectionBatch
    <set>
      <if test="inspectionBatchName != null">
        inspection_batch_name = #{inspectionBatchName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="inspectionBatchAmount != null">
        inspection_batch_amount = #{inspectionBatchAmount,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.quote.model.InspectionBatch">
    update InspectionBatch
    set inspection_batch_name = #{inspectionBatchName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      inspection_batch_amount = #{inspectionBatchAmount,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>