<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.InspectionContentMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.quote.model.InspectionContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="inspection_content_name" jdbcType="VARCHAR" property="inspectionContentName" />
    <result column="sample_quantity" jdbcType="INTEGER" property="sampleQuantity" />
    <result column="sample_quantity_range" jdbcType="VARCHAR" property="sampleQuantityRange" />
    <result column="sample_basis_id" jdbcType="INTEGER" property="sampleBasisId" />
    <result column="single_object_quantity" jdbcType="INTEGER" property="singleObjectQuantity" />
    <result column="single_quantity_range" jdbcType="VARCHAR" property="singleQuantityRange" />
    <result column="charge_unit" jdbcType="VARCHAR" property="chargeUnit" />
    <result column="charge_standard" jdbcType="INTEGER" property="chargeStandard" />
    <result column="charge_standard_unit" jdbcType="VARCHAR" property="chargeStandardUnit" />
    <result column="quote_basis_id" jdbcType="INTEGER" property="quoteBasisId" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="inspection_content_amount" jdbcType="FLOAT" property="inspectionContentAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_id, inspection_content_name, sample_quantity, sample_quantity_range, sample_basis_id, 
    single_object_quantity, single_quantity_range, charge_unit, charge_standard, charge_standard_unit, 
    quote_basis_id, batch_id, inspection_content_amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from InspectionContent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllInspectionContent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from InspectionContent
  </select>
  <select id="selectInspectionContentByMaxId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from InspectionContent
    where id = (select max(id) from InspectionContent)
  </select>
  
  <select id="selectAllInspectionContentByBatchId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from InspectionContent
    where batch_id = #{batchId,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteInspectionByID" parameterType="java.lang.Integer">
    delete from InspectionContent
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from InspectionContent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.quote.model.InspectionContent">
    insert into InspectionContent (id, source_id, inspection_content_name, 
      sample_quantity, sample_quantity_range, sample_basis_id, 
      single_object_quantity, single_quantity_range, 
      charge_unit, charge_standard, charge_standard_unit, 
      quote_basis_id, batch_id, inspection_content_amount
      )
    values (#{id,jdbcType=INTEGER}, #{sourceId,jdbcType=INTEGER}, #{inspectionContentName,jdbcType=VARCHAR}, 
      #{sampleQuantity,jdbcType=INTEGER}, #{sampleQuantityRange,jdbcType=VARCHAR}, #{sampleBasisId,jdbcType=INTEGER}, 
      #{singleObjectQuantity,jdbcType=INTEGER}, #{singleQuantityRange,jdbcType=VARCHAR}, 
      #{chargeUnit,jdbcType=VARCHAR}, #{chargeStandard,jdbcType=INTEGER}, #{chargeStandardUnit,jdbcType=VARCHAR}, 
      #{quoteBasisId,jdbcType=INTEGER}, #{batchId,jdbcType=INTEGER}, #{inspectionContentAmount,jdbcType=FLOAT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.quote.model.InspectionContent">
    insert into InspectionContent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="inspectionContentName != null">
        inspection_content_name,
      </if>
      <if test="sampleQuantity != null">
        sample_quantity,
      </if>
      <if test="sampleQuantityRange != null">
        sample_quantity_range,
      </if>
      <if test="sampleBasisId != null">
        sample_basis_id,
      </if>
      <if test="singleObjectQuantity != null">
        single_object_quantity,
      </if>
      <if test="singleQuantityRange != null">
        single_quantity_range,
      </if>
      <if test="chargeUnit != null">
        charge_unit,
      </if>
      <if test="chargeStandard != null">
        charge_standard,
      </if>
      <if test="chargeStandardUnit != null">
        charge_standard_unit,
      </if>
      <if test="quoteBasisId != null">
        quote_basis_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="inspectionContentAmount != null">
        inspection_content_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="inspectionContentName != null">
        #{inspectionContentName,jdbcType=VARCHAR},
      </if>
      <if test="sampleQuantity != null">
        #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantityRange != null">
        #{sampleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="sampleBasisId != null">
        #{sampleBasisId,jdbcType=INTEGER},
      </if>
      <if test="singleObjectQuantity != null">
        #{singleObjectQuantity,jdbcType=INTEGER},
      </if>
      <if test="singleQuantityRange != null">
        #{singleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="chargeUnit != null">
        #{chargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chargeStandard != null">
        #{chargeStandard,jdbcType=INTEGER},
      </if>
      <if test="chargeStandardUnit != null">
        #{chargeStandardUnit,jdbcType=VARCHAR},
      </if>
      <if test="quoteBasisId != null">
        #{quoteBasisId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="inspectionContentAmount != null">
        #{inspectionContentAmount,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.quote.model.InspectionContent">
    update InspectionContent
    <set>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="inspectionContentName != null">
        inspection_content_name = #{inspectionContentName,jdbcType=VARCHAR},
      </if>
      <if test="sampleQuantity != null">
        sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantityRange != null">
        sample_quantity_range = #{sampleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="sampleBasisId != null">
        sample_basis_id = #{sampleBasisId,jdbcType=INTEGER},
      </if>
      <if test="singleObjectQuantity != null">
        single_object_quantity = #{singleObjectQuantity,jdbcType=INTEGER},
      </if>
      <if test="singleQuantityRange != null">
        single_quantity_range = #{singleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="chargeUnit != null">
        charge_unit = #{chargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chargeStandard != null">
        charge_standard = #{chargeStandard,jdbcType=INTEGER},
      </if>
      <if test="chargeStandardUnit != null">
        charge_standard_unit = #{chargeStandardUnit,jdbcType=VARCHAR},
      </if>
      <if test="quoteBasisId != null">
        quote_basis_id = #{quoteBasisId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="inspectionContentAmount != null">
        inspection_content_amount = #{inspectionContentAmount,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.quote.model.InspectionContent">
    update InspectionContent
    set source_id = #{sourceId,jdbcType=INTEGER},
      inspection_content_name = #{inspectionContentName,jdbcType=VARCHAR},
      sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      sample_quantity_range = #{sampleQuantityRange,jdbcType=VARCHAR},
      sample_basis_id = #{sampleBasisId,jdbcType=INTEGER},
      single_object_quantity = #{singleObjectQuantity,jdbcType=INTEGER},
      single_quantity_range = #{singleQuantityRange,jdbcType=VARCHAR},
      charge_unit = #{chargeUnit,jdbcType=VARCHAR},
      charge_standard = #{chargeStandard,jdbcType=INTEGER},
      charge_standard_unit = #{chargeStandardUnit,jdbcType=VARCHAR},
      quote_basis_id = #{quoteBasisId,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=INTEGER},
      inspection_content_amount = #{inspectionContentAmount,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>