<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.QuoteTaskMapper">
	<resultMap id="BaseResultMap" type="com.zhongda.quote.model.QuoteTask">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="task_number" jdbcType="VARCHAR" property="taskNumber" />
		<result column="task_name" jdbcType="VARCHAR" property="taskName" />
		<result column="task_description" jdbcType="VARCHAR" property="taskDescription" />
		<result column="industry" jdbcType="INTEGER" property="industry" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_date" jdbcType="VARCHAR" property="createDate" />
		<result column="last_update_date" jdbcType="VARCHAR" property="lastUpdateDate" />
		<result column="task_amount" jdbcType="FLOAT" property="taskAmount" />
	</resultMap>
	<sql id="Base_Column_List">
		id, task_number, task_name, task_description, industry, create_user,
		create_date,
		last_update_date, task_amount
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from QuoteTask
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from QuoteTask
		where task_name = "%"#{taskName,jdbcType=VARCHAR}"%"
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from QuoteTask
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from QuoteTask
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zhongda.quote.model.QuoteTask">
		insert into QuoteTask (id, task_number, task_name,
		task_description, industry, create_user,
		create_date, last_update_date, task_amount
		)
		values (#{id,jdbcType=INTEGER}, #{taskNumber,jdbcType=VARCHAR},
		#{taskName,jdbcType=VARCHAR},
		#{taskDescription,jdbcType=VARCHAR}, #{industry,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR},
		#{createDate,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{taskAmount,jdbcType=FLOAT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zhongda.quote.model.QuoteTask">
		insert into QuoteTask
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taskNumber != null">
				task_number,
			</if>
			<if test="taskName != null">
				task_name,
			</if>
			<if test="taskDescription != null">
				task_description,
			</if>
			<if test="industry != null">
				industry,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="taskAmount != null">
				task_amount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="taskNumber != null">
				#{taskNumber,jdbcType=VARCHAR},
			</if>
			<if test="taskName != null">
				#{taskName,jdbcType=VARCHAR},
			</if>
			<if test="taskDescription != null">
				#{taskDescription,jdbcType=VARCHAR},
			</if>
			<if test="industry != null">
				#{industry,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=VARCHAR},
			</if>
			<if test="taskAmount != null">
				#{taskAmount,jdbcType=FLOAT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zhongda.quote.model.QuoteTask">
		update QuoteTask
		<set>
			<if test="taskNumber != null">
				task_number = #{taskNumber,jdbcType=VARCHAR},
			</if>
			<if test="taskName != null">
				task_name = #{taskName,jdbcType=VARCHAR},
			</if>
			<if test="taskDescription != null">
				task_description = #{taskDescription,jdbcType=VARCHAR},
			</if>
			<if test="industry != null">
				industry = #{industry,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date = #{lastUpdateDate,jdbcType=VARCHAR},
			</if>
			<if test="taskAmount != null">
				task_amount = #{taskAmount,jdbcType=FLOAT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zhongda.quote.model.QuoteTask">
		update QuoteTask
		set task_number = #{taskNumber,jdbcType=VARCHAR},
		task_name = #{taskName,jdbcType=VARCHAR},
		task_description = #{taskDescription,jdbcType=VARCHAR},
		industry = #{industry,jdbcType=INTEGER},
		create_user = #{createUser,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=VARCHAR},
		last_update_date = #{lastUpdateDate,jdbcType=VARCHAR},
		task_amount = #{taskAmount,jdbcType=FLOAT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>