<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.quote.dao.SysInspectionContentMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.quote.model.SysInspectionContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inspection_content_name" jdbcType="VARCHAR" property="inspectionContentName" />
    <result column="industry_id" jdbcType="INTEGER" property="industryId" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="sample_quantity" jdbcType="INTEGER" property="sampleQuantity" />
    <result column="sample_quantity_range" jdbcType="VARCHAR" property="sampleQuantityRange" />
    <result column="sample_basic_id" jdbcType="INTEGER" property="sampleBasicId" />
    <result column="single_object_quantity" jdbcType="INTEGER" property="singleObjectQuantity" />
    <result column="single_quantity_range" jdbcType="VARCHAR" property="singleQuantityRange" />
    <result column="charge_unit" jdbcType="VARCHAR" property="chargeUnit" />
    <result column="charge_standard" jdbcType="INTEGER" property="chargeStandard" />
    <result column="charge_standard_unit" jdbcType="VARCHAR" property="chargeStandardUnit" />
    <result column="quote_basis_id" jdbcType="INTEGER" property="quoteBasisId" />
   	<association property="quoteBasis" javaType="QuoteBasis">
       <id column="id" jdbcType="INTEGER" property="id" />
	   <result column="inspection_content_name" jdbcType="VARCHAR" property="inspectionContentName" />
	   <result column="industry_id" jdbcType="INTEGER" property="industryId" />
	   <result column="address_id" jdbcType="INTEGER" property="addressId" />
	   <result column="basis_file_number" jdbcType="VARCHAR" property="basisFileNumber" />
	   <result column="basis_file_name" jdbcType="VARCHAR" property="basisFileName" />
	   <result column="basis_file_index" jdbcType="VARCHAR" property="basisFileIndex" />
   	</association>
   	<association property="sampleBasis" javaType="SampleBasis">
       <id column="id" jdbcType="INTEGER" property="id" />
	   <result column="inspection_content_name" jdbcType="VARCHAR" property="inspectionContentName" />
	   <result column="industry_id" jdbcType="INTEGER" property="industryId" />
	   <result column="address_id" jdbcType="INTEGER" property="addressId" />
	   <result column="basis_file_number" jdbcType="VARCHAR" property="basisFileNumber" />
	   <result column="basis_file_name" jdbcType="VARCHAR" property="basisFileName" />
	   <result column="basis_file_index" jdbcType="VARCHAR" property="basisFileIndex" />
   	</association>
  </resultMap>
  <sql id="Base_Column_List">
    id, inspection_content_name, industry_id, address_id, sample_quantity,
    sample_quantity_range, sample_basic_id, single_object_quantity,
    single_quantity_range, charge_unit, charge_standard, charge_standard_unit, quote_basis_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
	sc.*, qb.*, sb.*
	from SysInspectionContent sc, QuoteBasis qb, SampleBasis sb
	where sc.quote_basis_id = qb.id and sc.sample_basic_id = sb.id and sc.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
	select
	sc.*, qb.*, sb.*
	from SysInspectionContent sc, QuoteBasis qb, SampleBasis sb
	where sc.quote_basis_id = qb.id and sc.sample_basic_id = sb.id and sc.inspection_content_name like '%${_parameter}%'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SysInspectionContent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.quote.model.SysInspectionContent">
    insert into SysInspectionContent (id, inspection_content_name,
      industry_id, address_id,
      sample_quantity, sample_quantity_range, sample_basic_id,
      single_object_quantity, single_quantity_range,
      charge_unit, charge_standard, charge_standard_unit,
      quote_basis_id)
    values (#{id,jdbcType=INTEGER}, #{inspectionContentName,jdbcType=VARCHAR},
      #{industryId,jdbcType=INTEGER}, #{addressId,jdbcType=INTEGER},
      #{sampleQuantity,jdbcType=INTEGER}, #{sampleQuantityRange,jdbcType=VARCHAR}, #{sampleBasicId,jdbcType=INTEGER},
      #{singleObjectQuantity,jdbcType=INTEGER}, #{singleQuantityRange,jdbcType=VARCHAR},
      #{chargeUnit,jdbcType=VARCHAR}, #{chargeStandard,jdbcType=INTEGER}, #{chargeStandardUnit,jdbcType=VARCHAR},
      #{quoteBasisId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.quote.model.SysInspectionContent">
    insert into SysInspectionContent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inspectionContentName != null">
        inspection_content_name,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="sampleQuantity != null">
        sample_quantity,
      </if>
      <if test="sampleQuantityRange != null">
        sample_quantity_range,
      </if>
      <if test="sampleBasicId != null">
        sample_basic_id,
      </if>
      <if test="singleObjectQuantity != null">
        single_object_quantity,
      </if>
      <if test="singleQuantityRange != null">
        single_quantity_range,
      </if>
      <if test="chargeUnit != null">
        charge_unit,
      </if>
      <if test="chargeStandard != null">
        charge_standard,
      </if>
      <if test="chargeStandardUnit != null">
        charge_standard_unit,
      </if>
      <if test="quoteBasisId != null">
        quote_basis_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inspectionContentName != null">
        #{inspectionContentName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantity != null">
        #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantityRange != null">
        #{sampleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="sampleBasicId != null">
        #{sampleBasicId,jdbcType=INTEGER},
      </if>
      <if test="singleObjectQuantity != null">
        #{singleObjectQuantity,jdbcType=INTEGER},
      </if>
      <if test="singleQuantityRange != null">
        #{singleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="chargeUnit != null">
        #{chargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chargeStandard != null">
        #{chargeStandard,jdbcType=INTEGER},
      </if>
      <if test="chargeStandardUnit != null">
        #{chargeStandardUnit,jdbcType=VARCHAR},
      </if>
      <if test="quoteBasisId != null">
        #{quoteBasisId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.quote.model.SysInspectionContent">
    update SysInspectionContent
    <set>
      <if test="inspectionContentName != null">
        inspection_content_name = #{inspectionContentName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantity != null">
        sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="sampleQuantityRange != null">
        sample_quantity_range = #{sampleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="sampleBasicId != null">
        sample_basic_id = #{sampleBasicId,jdbcType=INTEGER},
      </if>
      <if test="singleObjectQuantity != null">
        single_object_quantity = #{singleObjectQuantity,jdbcType=INTEGER},
      </if>
      <if test="singleQuantityRange != null">
        single_quantity_range = #{singleQuantityRange,jdbcType=VARCHAR},
      </if>
      <if test="chargeUnit != null">
        charge_unit = #{chargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chargeStandard != null">
        charge_standard = #{chargeStandard,jdbcType=INTEGER},
      </if>
      <if test="chargeStandardUnit != null">
        charge_standard_unit = #{chargeStandardUnit,jdbcType=VARCHAR},
      </if>
      <if test="quoteBasisId != null">
        quote_basis_id = #{quoteBasisId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.quote.model.SysInspectionContent">
    update SysInspectionContent
    set inspection_content_name = #{inspectionContentName,jdbcType=VARCHAR},
      industry_id = #{industryId,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      sample_quantity_range = #{sampleQuantityRange,jdbcType=VARCHAR},
      sample_basic_id = #{sampleBasicId,jdbcType=INTEGER},
      single_object_quantity = #{singleObjectQuantity,jdbcType=INTEGER},
      single_quantity_range = #{singleQuantityRange,jdbcType=VARCHAR},
      charge_unit = #{chargeUnit,jdbcType=VARCHAR},
      charge_standard = #{chargeStandard,jdbcType=INTEGER},
      charge_standard_unit = #{chargeStandardUnit,jdbcType=VARCHAR},
      quote_basis_id = #{quoteBasisId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>